Package: com.lns.pogr
Name: PodsGrant
Version: 0.5.1
Architecture: iphoneos-arm
Description: Tweak for better AirPods compatibility on old devices
Maintainer: Ruphane
Author: Ruphane
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
