Package: com.lns.pogr
Name: PodsGrant
Version: 0.2.3
Architecture: iphoneos-arm
Description: Treat AirPods Pro 2 correctly
Maintainer: Ruphane
Author: Ruphane
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
